<h1>Welcome to Games site</h1>

<p> New user? <%= link_to "Sign up now!", new_customer_path %></p>
<p>Luke Hudson</p>
<p>https://github.com/C12362211/rentapp</p>
<p id="top"><p id="time">timetest</p>


